.m-left {
  width: 96px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
  padding: 6px 0;
  text-align: center;
  background-color: #ffffff;
  margin-right: 10px;

  ul {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    color: #707070;

    li {
      height: 32px;
      line-height: 32px;

      &:hover, &.s-active {
        background-color: #c92027;

        a {
          color: #ffffff;
        }
      }
    }
  }

  a {
    color: #707070;
  }
}

.m-right {
  overflow: auto;
}

.m-blogs-box {
  margin-top: 15px;
  padding: 0;

  li {
    padding: 18px 24px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
    position: relative;
  }

  .m-blog-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  .m-info {
    overflow: hidden;
  }

  .m-user-pic {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .m-user-name {
    display: inline-block;
    vertical-align: top;
  }
}