<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container clearfix">
      <nav class="nav float-left">
        <a class="nav-link active" href="/">首页</a>
        <a class="nav-link" href="#">聊天室</a>
      </nav>
      <nav class="nav float-right">
        <a class="nav-link active c-red" href="javascript:void(0);" id="login" data-toggle="modal" data-target="#loginModal">登录</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="container m-register">
      <form class="f-mt" action="/sign-up" method="post">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter user name">
          <span class="m-tips"></span>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <span class="m-tips"></span>
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <span class="m-tips"></span>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
          <span class="m-tips"></span>
        </div>
        <button type="submit" class="btn btn-primary float-right f-mt" id="signUpBtn">Submit</button>
      </form>
    </div>
    <!-- modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">登录</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="user-name" class="col-form-label">用户名:</label>
                <input type="text" class="form-control" id="user-name">
              </div>
              <div class="form-group">
                <label for="loginPassword" class="col-form-label">密码:</label>
                <input type="loginPassword" class="form-control" id="loginPassword"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">登录</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>