@import './color.scss';
@import './_media.scss';

body {
  background-color: #f5f6f7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #333;
}

a {
  color: black;

  &:hover {
    text-decoration: none;
    color: #c92027;
  }
}

ul {
  list-style: none;
}

header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

main {
  margin-top: 10px;
}

.m-slogan {
  font-size: 18px;
  font-weight: bold;
}

.f-mt {
  margin-top: 3.5rem;
}

.m-close-tag {
  position: absolute;
  width: 14px;
  height: 14px;
  background: url('../image/icon_close_big.png') no-repeat;
  background-size: 14px 14px;
  right: 15px;
  cursor: pointer;
}

.m-close-tag:hover {
  background: url('../image/icon_close_hover_big.png') no-repeat;
  background-size: 14px 14px;
}